/*
    Custom css to personalize this bootstrap template
*/
/* Body style */
body {
    font-family: 'Oswald', sans-serif;
}

/* Header navbar */
.ftco-navbar-light {
    border-bottom: #207245 1px solid;
}
.bg-dark-custom {
    background-color: #207245;  /*3B574A*/;
}

.navbar-brand {
    font-size: 1.2rem;
    text-align: center;
}
.navbar-brand > img {
    width: 50px;
    margin: 5px;
}
.navbar-brand > span {   
    display: block;
}


/* Searchuser and cart */
.container-search-user-cart {
    width: 15%;
    margin: 5px 1.5%; 
    display: inline-block;
    text-align: center;   
}
.container-search-user-cart > * {
    color: rgba(255,255,255,.5);
    font-size: 140%;
    margin: 5px 5%;
}
#menuSearch {
    display: none;
}
.container-search-user-cart input {
    width: 100%;
    font-size: 80%;
}
@media screen and (max-width: 991px) {
    .container-search-user-cart {
        width: 97%;
    }

    .container-search-user-cart > * {
        margin: 5px 10%;
    }
}
@media screen and (max-width: 250px) {
    .container-search-user-cart > * {
        display: block;
    }
}
.container-search-user-cart > i:hover, .container-search-user-cart > a:hover {
    cursor: pointer;
    color: #fff;
}

/* Table */
.table td, .table th {
    padding:.25em;
}
.btnTable {
    margin-left: .5em;
    margin-right: .5em;
}
.table tbody tr {
    font-size: 100%;
}

/* Create User Modal */
.create-user-left-side {
    background-color: #C7DBD0;
    background: -moz-linear-gradient(#95BCA7, #C7DBD0, #F0F4F1);
    background: -webkit-linear-gradient(#95BCA7, #C7DBD0, #F0F4F1);
    background: -o-linear-gradient(#95BCA7, #C7DBD0, #F0F4F1);
    background: linear-gradient(#95BCA7, #C7DBD0, #F0F4F1);
}
.form-farm-fields {
    display: none;
}
#m_upicture_img > img , #m_fpicture_img > img {
    display: none;
    min-width: 100px;
    width: 90%; 
    margin: 0 auto;
    padding: 2%;
}
.farm-address {
    display: none;
}

/* Buyer */
.default-address {
    border-radius: 5px;
    border: 1px solid #3B574A;
    background-color: #558F6E;
    color: #F0F4F1;
}
.a-address-fields {
    display: none;
}



/********** Julia's work: **********/

/* class produce */
.product {
    font-family: "Playfair Display", serif;
    border: 1px solid #818C8B;
    box-shadow: 2px 2px 2px 2px #818C8B;
}
.product > img.productPhoto {
    min-width: 100px;
    width: 95%;
	border: 1px solid #1A2720;
}
.line {
    height: 1px;
    background-color: #207245; 
}
.ProductForm {
	text-align: center;
}
h3 {
	color: #1A2720;
	text-shadow: 1px 1px 2px #818C8B;
}
.productForm p {
    margin-bottom: 0px;
    font-size: 100%;
}

/* Button options in Farmer's account */
.btnCreateProduce {
	background: none;
	border: 1px solid #558F6E;
	color: #558F6E;
    border-radius: 4px;
    padding: .5em 10%;
    white-space: normal;                                                                                    
}
.btnCreateProduce:hover, .btnCreateProduce:focus, .btnCreateProduce:active {
    border-color: #95BCA7;
    background-color: #558F6E;
	color: #fafafa;
}

/* link to MyProducts(Farmers account)*/
#lnkMyProducts {
	font-size: 130%;
	padding: .5em 2%;
    text-shadow: 4px 4px 8px #818C8B;
}
#lnkMyProducts a{
    color: #207245;  	
}
#lnkMyProducts a:hover {
    text-decoration: none;
    border-bottom: 2px solid #818C8B;
}
.dropdown-menu {
	background-color: #207245;
}
.dropdown-menu li {
    text-align: center;
    font-size: 100%;
    font-family: "Playfair Display", serif;
}
.dropdown-menu li:hover { 
    background-color: #3B574A;
}
.variableforSorting {
	color: #fafafa;
}
.variableforSorting:hover {
    text-decoration: underline;
    color: #fafafa;
}

/* Search in Farmer's products */
#farmerSearchOfProducts {
    height: 150%;   
}
#farmerSearchOfProducts input {
	border: 1px solid #207245;
    font-size: 120%;
    text-align: left;
    border-radius: 4px;	
    padding: .2em 2%;
}


