/*  CSS only for the login page ***/

body {
    height: 100%;
    background-color: #207245;
    background: -moz-linear-gradient(#207245, #95BCA7, #558F6E);
    background: -webkit-linear-gradient(#207245, #95BCA7, #558F6E);
    background: -o-linear-gradient(#207245, #95BCA7, #558F6E);
    background: linear-gradient(#207245, #95BCA7, #558F6E);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#section-login {
    min-width: 290px;
    width: 320px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #3B574A;
    color: #F0F4F1;
}
@media screen and (max-height: 360px) {
    #section-login {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.login-logo a > img {
    min-width: 50px;
    width: 30%;
}
.login-logo > * {
    margin: .5em 1%;
}
.oauth .logo-oauth {
    padding: .25em 1%;
    margin: .25em 1%;
    display: inline-block;
    text-align: center;
    background-color: #F0F4F1;
}
.oauth i {
    font-size: 200%;
}
#facebook-oauth {
    color: #3C5A98;    
}
#google-oauth {
    color: #3780FF;
}
#facebook-oauth:hover i {
    color: #4862A3;    
}
#google-oauth:hover i {
    color: #5A95F5;
}

#loginsubmit:hover, #loginsubmit:focus {
    background-color: #558F6E;
}
#create-account, #forgot-password, .login-logo a {
    color: #F0F4F1;
}
#create-account:hover, #forgot-password:hover,
#create-account:focus, #forgot-password:focus {
    color: #99CCFF; 
}
.login-links > div {
    width: 40%;
    margin: .25em 5%
}


